<p>Hi guys.</p>
<p>You just received invite from {{ full_name }}</p>
<p>If you join now. Please click in link below!</p>
<p><a href="{{ CUSTOMER_LINK_INVITE_FRIEND }}{{ sponsor_key }}">Join now</p>
<p>Thanks and regards</p>